plt*
chk*
tmp_build_dir
Backtrace*
*.ex
*.visit
.DS_Store
Docs/build/
html/
doctrees/
*.ipynb
.ccls-cache

Build/CMakeCache.txt
Build/CMakeFiles/
Build/CTestCustom.cmake
Build/CTestTestfile.cmake
Build/DartConfiguration.tcl
Build/Makefile
Build/MarblesConfig.cmake
Build/Source/
Build/Submodules/
Build/Tests/
Build/cmake_install.cmake
Build/marbles
Build/marbles_obj/
compile_commands.json